<footer>
  <img src="/static/images/logolarge.png" width="220px" />
  <div id="footerLinks">
    <a itemprop="home" href="/" rel="noreferrer">HOME</a>
    <a itemprop="interior design process" href="/process" rel="noreferrer">OUR PROCESS</a>
    <a itemprop="about" href="/about" rel="noreferrer">ABOUT</a>
    <a itemprop="interior design reviews" href="/testimonials" rel="noreferrer">TESTIMONIALS</a>
    <a itemprop="interior design images" href="/gallery" rel="noreferrer">GALLERY</a>
  </div>
  <div id="contact">
    <h1>Contact</h1>
    <p>maya.mihajlovic2@gmail.com</p>
    <p>123-456-7890</p>
    <p>mayacreativespaces.com</p>
  </div>
</footer>
