<footer>
  <div id="footerImg">
    <img src="/static/images/logolarge.webp" width="250px" alt="MaYa Createive Spaces Interior Design logo a shell with a house in the middle, and text underneath stating the companies name"/>
  </div>
  <div id="footerLinks">
    <a itemprop="home" href="/" rel="noreferrer">HOME</a>
    <a itemprop="interior design process" href="/process" rel="noreferrer">OUR PROCESS</a>
    <a itemprop="about" href="/about" rel="noreferrer">ABOUT</a>
    <a itemprop="interior design reviews" href="/testimonials" rel="noreferrer">TESTIMONIALS</a>
    <a itemprop="interior design images" href="/gallery" rel="noreferrer">GALLERY</a>
  </div>
  <div id="contactHolder">
    <div id="contact">
      <h1>Contact</h1>
      <a href="mailto:mayacreativespaces@gmail.com">mayacreativespaces@gmail.com</a>
      <a href="tel:239-402-3412">239-402-3412</a>
      <a href="https://mayacreativespaces.com" rel="noreferrer">mayacreativespaces.com</a>
    </div>
    <img src="/static/images/mayaHeadshot.webp" width="200px" style="padding-left: 20px;"/>
  </div>
</footer>
 