<nav>
  <a itemprop="home" href="/" rel="noreferrer">
    <img src="/static/images/logosmall.webp" alt="MaYa Createive Spaces Interior Design logo a shell with a house in the middle, and text on the right of the shell stating the companies name" width="180px" />
  </a>
  <div>
    <a itemprop="home" href="/" rel="noreferrer">HOME</a>
    <a itemprop="interior design process" href="/process" rel="noreferrer">OUR PROCESS</a>
    <a itemprop="about" href="/about" rel="noreferrer">ABOUT</a>
    <a itemprop="interior design reviews" href="/testimonials" rel="noreferrer">TESTIMONIALS</a>
    <a itemprop="interior design images" href="/gallery" rel="noreferrer">GALLERY</a>
  </div>
</nav>
