<nav>
  <img src="/static/images/logosmall.png" width="150px" />
  <div>
    <a href="/" rel="noreferrer">HOME</a>
    <a href="/process" rel="noreferrer">OUR PROCESS</a>
    <a href="/about" rel="noreferrer">ABOUT</a>
    <a href="/testimonials" rel="noreferrer">TESTIMONIALS</a>
    <a href="/gallery" rel="noreferrer">GALLERY</a>
  </div>
</nav>
