<nav>
  <img src="/static/images/logosmall.png" alt="MaYa Createive Spaces Interior Design Logo" width="150px" />
  <div>
    <a itemprop="home" href="/" rel="noreferrer">HOME</a>
    <a itemprop="interior design process" href="/process" rel="noreferrer">OUR PROCESS</a>
    <a itemprop="about" href="/about" rel="noreferrer">ABOUT</a>
    <a itemprop="interior design reviews" href="/testimonials" rel="noreferrer">TESTIMONIALS</a>
    <a itemprop="interior design images" href="/gallery" rel="noreferrer">GALLERY</a>
  </div>
</nav>
