<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A interior design service based in South Florida">
    <meta name="keywords" content="Interior Design, Interior, Design, Florida, South Florida">
    <meta name="author" content="Maya Mihajlovic">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MaYa Creative Spaces" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <title>MaYa Creative Spaces | About</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <section id="hero">
      <div class="heroImg" id="heroImgAbout">
        <img src="/static/images/mayaFullBody.webp" alt="founder of the company maya who has blonde hair sitting next to a bed with a tan coat on"/>
      </div>
      <div id="heroText">
        <div>
          <p style="font-size: 3.5em; font-weight: 700; font-family: Presti;">
            Maya <br />
            Mihajlovic
          </p>
          <div
            style="
              border-top: 1.5px solid #0289bf;
              width: 40%;
              padding: 2px;
              margin-bottom: 10px;
              border-bottom: 3px solid #0289bf;
            "
          ></div>
          <h1 style="color: #024249">Founder/Principal</h1>
          <p style="width: 80%; font-size: 1.3em; color: #024249">
            Leveraging her MBA and years of business and project management
            experience with her interior design certification, Maya Mihajlovic
            founded MaYa Creative Spaces in 2016. 
          </p>
        </div>
      </div>
    </section>
    <div id="pattern"></div>
    <p style="background-color: #024249; padding: 50px 10%; font-size: 1.3em;" class="info">
      With
      <strong style="font-weight: 600; font-style: italic"
        >hundreds of happy clients</strong
      >, the firm is known as
      <strong
        style="font-weight: 600; font-style: italic"
        >South Florida’s top interior design team</strong
      >
      for investors looking for a turnkey professional interior design service that helps
      their properties become income-producing machines.
      <br />
      <br />
      Maya is a creative who brings a well-trained eye for quality, furnishings and textiles to each project. Clients praise <strong
      style="font-weight: 600; font-style: italic"
      >her hands-on approach</strong
    > and ability to pull what they love together in a cohesive style that flows throughout the house. Maya is consistently recognized for her <strong
    style="font-weight: 600; font-style: italic"
    >impeccable designs and flawless project execution on time and budget.</strong
  > She prides herself on her attention to detail and obsession with creating vacation homes and rental properties that stand out.
    </p>
    <%- include('partials/footer') %>
  </body>
</html>
