<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://www.mayacreativespaces.com" />
    <meta name="description" content="Transform your space with MaYa Creative Spaces, South Florida's premier interior design service. We create personalized, stylish designs tailored to your unique vision." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="MaYa Creative Spaces" />
    <meta name="author" content="Maya Mihajlovic">
    <meta property="og:title" content="MaYa Creative Spaces" />
    <meta property="og:description" content="A creative and personalized interior design service based in South Florida." />
    <meta property="og:image" content="/static/images/logolarge.webp" />
    <meta property="og:url" content="https://www.mayacreativespaces.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/static/images/logolarge.webp" />
    <meta name="twitter:title" content="MaYa Creative Spaces" />
    <meta name="twitter:description" content="A creative and personalized interior design service based in South Florida." />
    <meta name="twitter:image" content="/static/images/logolarge.webp" />
    <meta name="twitter:image:alt" content="MaYa Creative Spaces Logo" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MaYa Creative Spaces" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <script src="/static/js/gallery.js" defer></script>
    <title>MaYa Creative Spaces | Gallery</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <section id="hero">
        <div class="heroImg" id="heroImgAbout">
          <img src="/static/images/gallaryHero.webp" alt="a beautiful livingroom with a gray couch, tv, and pots with red flowers"/>
        </div>
        <div id="heroText">
          <div>
            <p style="font-weight: 700;">
              Gallery
            </p>
            <div
              style="
                border-top: 1.5px solid #0289bf;
                width: 40%;
                padding: 2px;
                margin-bottom: 10px;
                border-bottom: 3px solid #0289bf;
              "
            ></div>
            <p style="width: 80%; font-size: 1.3em; color: #024249">
              <strong style="font-weight: 600; font-style: italic"
              >A picture’s worth a thousand words.</strong
              > Here are just a few of our recent client projects.
            </p>
          </div>
        </div>
      </section>
      <div id="pattern"></div>
      <main id="mainGallery">
        <section class="gallery">
          <div class="container">
            <div class="mySlides">
              <img src="/static/images/gallery/1.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/2.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/3.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/4.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/5.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/5(1).webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/6.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/7.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/8.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/9.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/10.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/11.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/12.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/13.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/14.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/15.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/16.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/17.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/18.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/19.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/20.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/21.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/22.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/23.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/24.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/25.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/26.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/27.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/28.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/29.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/30.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/31.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/32.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/33.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/34.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/35.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/36.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/37.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/38.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/39.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/40.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/41.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/42.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/43.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/45.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/46.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/47.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/48.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/49.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/50.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/gallery/51.webp" alt="PHOTO OF DESIGN" style="width:100%">
            </div>
            <a class="prev" rel="noreferrer" onclick="plusSlides(-1)">❮</a>
            <a class="next" rel="noreferrer" onclick="plusSlides(1)">❯</a>
            <div class="row" style="display: none;">
              <div class="column cursor" onclick="currentSlide(1)"></div>
              <div class="column cursor" onclick="currentSlide(2)"></div>
              <div class="column cursor" onclick="currentSlide(3)"></div>
              <div class="column cursor" onclick="currentSlide(4)"></div>
              <div class="column cursor" onclick="currentSlide(5)"></div>
              <div class="column cursor" onclick="currentSlide(6)"></div>
              <div class="column cursor" onclick="currentSlide(7)"></div>
              <div class="column cursor" onclick="currentSlide(8)"></div>
              <div class="column cursor" onclick="currentSlide(9)"></div>
              <div class="column cursor" onclick="currentSlide(10)"></div>
              <div class="column cursor" onclick="currentSlide(11)"></div>
              <div class="column cursor" onclick="currentSlide(12)"></div>
              <div class="column cursor" onclick="currentSlide(13)"></div>
              <div class="column cursor" onclick="currentSlide(14)"></div>
              <div class="column cursor" onclick="currentSlide(15)"></div>
              <div class="column cursor" onclick="currentSlide(16)"></div>
              <div class="column cursor" onclick="currentSlide(17)"></div>
              <div class="column cursor" onclick="currentSlide(18)"></div>
              <div class="column cursor" onclick="currentSlide(19)"></div>
              <div class="column cursor" onclick="currentSlide(20)"></div>
              <div class="column cursor" onclick="currentSlide(21)"></div>
              <div class="column cursor" onclick="currentSlide(22)"></div>
              <div class="column cursor" onclick="currentSlide(23)"></div>
              <div class="column cursor" onclick="currentSlide(24)"></div>
              <div class="column cursor" onclick="currentSlide(25)"></div>
              <div class="column cursor" onclick="currentSlide(26)"></div>
              <div class="column cursor" onclick="currentSlide(27)"></div>
              <div class="column cursor" onclick="currentSlide(28)"></div>
              <div class="column cursor" onclick="currentSlide(29)"></div>
              <div class="column cursor" onclick="currentSlide(30)"></div>
              <div class="column cursor" onclick="currentSlide(31)"></div>
              <div class="column cursor" onclick="currentSlide(32)"></div>
              <div class="column cursor" onclick="currentSlide(33)"></div>
              <div class="column cursor" onclick="currentSlide(34)"></div>
              <div class="column cursor" onclick="currentSlide(35)"></div>
              <div class="column cursor" onclick="currentSlide(36)"></div>
              <div class="column cursor" onclick="currentSlide(37)"></div>
              <div class="column cursor" onclick="currentSlide(38)"></div>
              <div class="column cursor" onclick="currentSlide(39)"></div>
              <div class="column cursor" onclick="currentSlide(40)"></div>
              <div class="column cursor" onclick="currentSlide(41)"></div>
              <div class="column cursor" onclick="currentSlide(42)"></div>
              <div class="column cursor" onclick="currentSlide(43)"></div>
              <div class="column cursor" onclick="currentSlide(44)"></div>
              <div class="column cursor" onclick="currentSlide(45)"></div>
              <div class="column cursor" onclick="currentSlide(46)"></div>
              <div class="column cursor" onclick="currentSlide(47)"></div>
              <div class="column cursor" onclick="currentSlide(48)"></div>
              <div class="column cursor" onclick="currentSlide(49)"></div>
              <div class="column cursor" onclick="currentSlide(50)"></div>
              <div class="column cursor" onclick="currentSlide(51)"></div>
            </div>
          </div>
        </section>
      </main>
    <%- include('partials/footer') %>
</body>
</html>