<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A interior design service based in South Florida">
    <meta name="keywords" content="Interior Design, Interior, Design, Florida, South Florida">
    <meta name="author" content="Maya Mihajlovic">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MaYa Creative Spaces" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <script src="/static/js/gallery.js" defer></script>
    <title>MaYa Creative Spaces | Gallery</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <section id="hero">
        <div class="heroImg" id="heroImgAbout">
          <img src="/static/images/gallaryHero.webp" alt="a beautiful livingroom with a gray couch, tv, and pots with red flowers"/>
        </div>
        <div id="heroText">
          <div>
            <p style="font-size: 3.5em; font-weight: 700; font-family: Presti;">
              Gallery
            </p>
            <div
              style="
                border-top: 1.5px solid #0289bf;
                width: 40%;
                padding: 2px;
                margin-bottom: 10px;
                border-bottom: 3px solid #0289bf;
              "
            ></div>
            <p style="width: 80%; font-size: 1.3em; color: #024249">
              <strong style="font-weight: 600; font-style: italic"
              >A picture’s worth a thousand words.</strong
              > Here are just a few of our recent client projects.
            </p>
          </div>
        </div>
      </section>
      <div id="pattern"></div>
      <main id="mainGallery">
        <h2>SINGLE-FAMILY HOMES</h2>
        <section class="gallery">
          <div class="container">
            <div class="caption-container">
              <p id="captionSingle"></p>
            </div>
            <div class="mySlides mySlidesSingle">
              <img src="/static/images/gallery/single/kitchen_home.webp"
              alt="Beautiful single family kitchen" style="width:100%">
            </div>
            <div class="mySlides mySlidesSingle">
              <img src="/static/images/gallery/single/living_space_home.webp" alt="Single family living room" style="width:100%">
            </div>
            <a class="prev" rel="noreferrer" onclick="plusSlidesSingle(-1)">❮</a>
            <a class="next" rel="noreferrer" onclick="plusSlidesSingle(1)">❯</a>
            <div class="row">
              <div class="column cursor columnSingle" onclick="currentSlideSingle(1)">
              </div>
              <div class="column cursor columnSingle" onclick="currentSlideSingle(2)">
              </div>
            </div>
          </div>
        </section>
        <h2>TOWNHOMES</h2>
        <section class="gallery">
          <div class="container">
            <div class="caption-container">
              <p id="captionTown"></p>
            </div>
            <div class="mySlides mySlidesTown">
              <img src="/static/images/gallery/town/bernice_living_room_townhome.webp"
              alt="Bernice townhome living room" style="width:100%">
            </div>
            <div class="mySlides mySlidesTown">
              <img src="/static/images/gallery/town/carla_bedroom_townhome.webp"
              alt="Carla townhome bedroom" style="width:100%">
            </div>
            <div class="mySlides mySlidesTown">
              <img src="/static/images/gallery/town/carla_living_room_townhome.webp"
              alt="Carla townhome living room" style="width:100%">
            </div>
            <div class="mySlides mySlidesTown">
              <img src="/static/images/gallery/town/kentucky_living_room_townhome.webp"
              alt="Kentucky townhome living room" style="width:100%">
            </div>
            <a class="prev" rel="noreferrer" onclick="plusSlidesTown(-1)">❮</a>
            <a class="next" rel="noreferrer" onclick="plusSlidesTown(1)">❯</a>
            <div class="row">
              <div class="column cursor columnTown" onclick="currentSlideTown(1)">
              </div>
              <div class="column cursor columnTown" onclick="currentSlideTown(2)">
              </div>
              <div class="column cursor columnTown" onclick="currentSlideTown(3)">
              </div>
              <div class="column cursor columnTown" onclick="currentSlideTown(4)">
              </div>
              <div class="column cursor columnTown" onclick="currentSlideTown(5)">
            </div>
          </div>
        </section>
        <h2>CONDOMINIUS</h2>
        <section class="gallery">
          <div class="container">
            <div class="caption-container">
              <p id="captionCondo"></p>
            </div>
            <div class="mySlides mySlidesCondo">
              <img src="/static/images/gallery/condo/black_and_white_dining_condo.webp"
              alt="Black and white dining room condo" style="width:100%">
            </div>
            <div class="mySlides mySlidesCondo">
              <img src="/static/images/gallery/condo/bonita_bedroom_condo.webp"
              alt="Bonita condo bedroom" style="width:100%">
            </div>
            <div class="mySlides mySlidesCondo">
              <img src="/static/images/gallery/condo/carolin_bedroom_condo.webp"
              alt="Carolin condo bedroom" style="width:100%">
            </div>
            <a class="prev" rel="noreferrer" onclick="plusSlidesCondo(-1)">❮</a>
            <a class="next" rel="noreferrer" onclick="plusSlidesCondo(1)">❯</a>
            <div class="row">
              <div class="column cursor columnCondo" onclick="currentSlideCondo(1)">
              </div>
              <div class="column cursor columnCondo" onclick="currentSlideCondo(2)">
              </div>
              <div class="column cursor columnCondo" onclick="currentSlideCondo(3)">
              </div>
          </div>
        </section>
      </main>
    <%- include('partials/footer') %>
</body>
</html>