<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MaYa Creative Spaces offers unique interior design solutions tailored to your style and space, serving South Florida with creativity and expertise." />
    <meta name="keywords" content="MaYa Creative Spaces, Interior Design, Interior, Design, Florida, South Florida">
    <meta name="author" content="Maya Mihajlovic">
    <meta property="og:title" content="MaYa Creative Spaces" />
    <meta property="og:description" content="A creative and personalized interior design service based in South Florida." />
    <meta property="og:image" content="/static/images/logolarge.webp" />
    <meta property="og:url" content="https://www.mayacreativespaces.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/static/images/logolarge.webp" />
    <meta name="twitter:title" content="MaYa Creative Spaces" />
    <meta name="twitter:description" content="A creative and personalized interior design service based in South Florida." />
    <meta name="twitter:image" content="/static/images/logolarge.webp" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MaYa Creative Spaces" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <title>MaYa Creative Spaces</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <section id="hero">
      <div class="heroImg">
        <img src="/static/images/hero.webp" alt="a beautiful livingroom with a brown couch, a brown side chair, nice leaf paintings on the walls, and a middle table."/>
      </div>
      <div id="heroText">
        <div>
          <p style="font-size: 3.5em; font-family: Presti;">
            Designing <br />
            for <strong style="font-weight: 700">Dollars</strong>
          </p>
          <div
            style="
              border-top: 1.5px solid #0289bf;
              width: 40%;
              padding: 2px;
              margin-bottom: 10px;
              border-bottom: 3px solid #0289bf;
            "
          ></div>
          <p style="width: 80%; font-size: 1.3em; color: #024249">
            As a property investor, your number one priority is revenue. As an
            interior design firm, our top priority is offering
            <strong style="font-weight: 600; font-style: italic"
              >turnkey design services</strong
            >
            that increase your bookings and bank account.
          </p>
        </div>
      </div>
    </section>
    <div id="pattern"></div>
    <article>
      <section id="info">
        <p>
          Think professional interior design doesn't matter? Think again. According to
          Airbnb, the number one vacation rental platform worldwide, properties
          with professional interior design
          <strong style="font-weight: 600; font-style: italic"
            >increased rental prices by 12%, increased bookings by 50%</strong
          >
          and drove more
          <strong style="font-weight: 600; font-style: italic"
            >five-star reviews.</strong
          >
        </p>
        <br />
        <p>
          MaYa Creative Spaces is South Florida's top interior design firm focused on
          helping investors create beautiful properties ready to rent the second
          we hand you back the keys. Our process is simple, fast, and
          hassle-free. The result is a stunning, income-generating home.
        </p>
      </section>
      <section id="threeSteps">
        <p style="font-size: 55px; margin: 0px; margin-bottom: 15px; font-family: Presti;">
          Our <strong style="font-weight: 700">3-Step</strong>
          Design Process
        </p>
        <div
          style="
            border-top: 1.5px solid #0289bf;
            width: 15%;
            margin: auto;
            padding: 2px;
            border-bottom: 3px solid #0289bf;
          "
        ></div>
        <div id="steps">
          <div class="step">
            <h1>1</h1>
            <h2>DISCOVERY</h2>
            <p>
              We set up a call to learn more about your needs, budget, style and
              space.
            </p>
          </div>
          <div class="step">
            <h1>2</h1>
            <h2>DESIGN</h2>
            <p>
              Work one-on-one with your designer to create your perfect design
              plan.
            </p>
          </div>
          <div class="step">
            <h1>3</h1>
            <h2>DELIVERY</h2>
            <p>
              Your parts all done. Our team handles all the logistics to have
              your home ready in as little as four weeks.
            </p>
          </div>
        </div>
      </section>
      <section id="difference">
        <p style="font-size: 45px; margin: 0px; margin-bottom: 10px; font-family: Presti;">
          The MaYa Creative Spaces Difference
        </p>
        <div
          style="
            border-top: 1.5px solid #44d6c6;
            width: 15%;
            padding: 2px;
            border-bottom: 3px solid #44d6c6;
          "
        ></div>
        <p style="font-size: 23px; margin: 0px; margin-top: 15px; font-weight: bold;">
          QUICK TURNAROUND
        </p>
        <span>
          Ten-Day Setup. We design and furnish your home according to your personalized interior design all the way down to linens, kitchen and bath essentials, electronics and more. When MaYa Creative Spaces is all done, you’re ready to rent immediately. 
        </span>
        <p style="font-size: 23px; margin: 0px; margin-top: 15px; font-weight: bold;">
          PEACE OF MIND
        </p>
        <span>
          We take care of style creation, budget tracking, project planning, sourcing and shopping of the interior design. 
        </span>
        <p style="font-size: 23px; margin: 0px; margin-top: 15px; font-weight: bold;">
          HANDS-OFF EXPERIENCE
        </p>
        <span>
          While you can enjoy the fun part of creating the interior design with us, MaYa Creative Spaces handles all logistics, shipping, set-up and clean-up.
        </span>
      </section>
    </article>
    <%- include('partials/footer') %>
  </body>
</html>
