<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/process.js" defer></script>
    <title>MaYa Creative Spaces | Our Process</title>
  </head>
<body>
    <%- include('partials/navbar') %>
    <section id="hero">
      <div class="heroImg">
        <img src="/static/images/processHero.jpg"/>
      </div>
      <div id="heroText">
        <div>
          <p style="font-size: 55px; font-family: Presti;">
            Primary <br />
            <strong style="font-weight: 700">Home Design</strong>
          </p>
          <div
            style="
              border-top: 1.5px solid #0289bf;
              width: 40%;
              padding: 2px;
              margin-bottom: 10px;
              border-bottom: 3px solid #0289bf;
            "
          ></div>
          <p style="width: 80%; font-size: 18px; color: #024249">
            After our clients see what we can do for their income-generating properties, many turn to us when they
            <strong style="font-weight: 600; font-style: italic"
              >buy, build or remodel their own homes.</strong
            >
          </p>
        </div>
      </div>
    </section>
    <div id="pattern"></div>
    <main id="mainProcess">
      <section id="info" style="padding: 0px;">
        <p>
          We employ our same design process, but because this is your primary home, many of our clients want much more involvement in curating the style and design plan—which we love!
          <br />
          <br />
          When you design with MaYa Creative Spaces, you can <strong
          style="font-weight: 600; font-style: italic"
          >leverage our relationships</strong> and special pricing with our preferred suppliers to <strong
          style="font-weight: 600; font-style: italic"
          >design your dream home for less.</strong>
        </p>
      </section>
      <section id="difference"> 
        <p style="font-size: 50px; margin: 0px; margin-bottom: 10px; font-family: Presti;">
          Before & After
        </p>
        <div
          style="
            border-top: 1.5px solid #44d6c6;
            width: 15%;
            padding: 2px;
            border-bottom: 3px solid #44d6c6;
          "
        ></div>
      </section>
      <section style="display: flex; justify-content: center;">
        <div class="containerP">
          <div class="caption-container">
            <p id="caption"></p>
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/108livingroomBEFORE.jpg"
            alt="108th Living room before" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/108livingroomAFTER.jpg" alt="108th Living room after" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/108outdoorBEFORE.jpg"
            alt="Outdoor space before" style="width:100%">
          </div>  
          <div class="mySlides">
            <img src="/static/images/beforeAfter/108outdoorAFTER.jpg"
            alt="Outdoor space after" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/EntranceBEFORE.jpg" 
            alt="Entrance before" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/EntranceAFTER.jpg"
            alt="Entrance after" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/LivingRoomOld.jpg"
            alt="Living Room Before" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/LivingRoomAfter.jpg"
            alt="Living Room After" style="width:100%">
          </div>
          <a class="prev" rel="noreferrer" onclick="plusSlides(-1)">❮</a>
          <a class="next" rel="noreferrer" onclick="plusSlides(1)">❯</a>
          <div class="row">
            <div class="column cursor" onclick="currentSlide(1)">
            </div>
            <div class="column cursor" onclick="currentSlide(2)">
            </div>
            <div class="column cursor" onclick="currentSlide(3)">
            </div>
            <div class="column cursor" onclick="currentSlide(4)">
            </div>
            <div class="column cursor" onclick="currentSlide(5)">
            </div>    
            <div class="column cursor" onclick="currentSlide(6)">
            </div>
            <div class="column cursor" onclick="currentSlide(7)">
            </div>
            <div class="column cursor" onclick="currentSlide(8)">
            </div>
          </div>
        </div>
      </section>
      <div>
        <p>Click below to view the rest of our work.</p>
        <button id="processBtn" class="cursor" onclick="document.location='gallery'">VIEW FULL GALLERY</button>
      </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>