<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://www.mayacreativespaces.com" />
    <meta name="description" content="MaYa Creative Spaces offers unique interior design solutions tailored to your style and space, serving South Florida with creativity and expertise." />
    <meta name="keywords" content="MaYa Creative Spaces, Interior Design, Residential Design, Commercial Interior Design, South Florida, Creative Interior Design Solutions, Personalized Interiors" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="MaYa Creative Spaces" />
    <meta name="author" content="Maya Mihajlovic">
    <meta property="og:title" content="MaYa Creative Spaces" />
    <meta property="og:description" content="A creative and personalized interior design service based in South Florida." />
    <meta property="og:image" content="/static/images/logolarge.webp" />
    <meta property="og:url" content="https://www.mayacreativespaces.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/static/images/logolarge.webp" />
    <meta name="twitter:title" content="MaYa Creative Spaces" />
    <meta name="twitter:description" content="A creative and personalized interior design service based in South Florida." />
    <meta name="twitter:image" content="/static/images/logolarge.webp" />
    <meta name="twitter:image:alt" content="MaYa Creative Spaces Logo" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MaYa Creative Spaces" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <script src="/static/js/process.js" defer></script>
    <title>MaYa Creative Spaces | Our Process</title>
  </head>
<body>
    <%- include('partials/navbar') %>
    <section id="hero">
      <div class="heroImg">
        <img src="/static/images/processHero.webp" alt="a bedroom with a bed that ahs blue and white covers, as well as two wooden night stands with blue and white lamps."/>
      </div>
      <div id="heroText">
        <div>
          <p style="font-size: 55px; font-family: Presti;">
            Primary <br />
            <strong style="font-weight: 700">Home Interior Design</strong>
          </p>
          <div
            style="
              border-top: 1.5px solid #0289bf;
              width: 40%;
              padding: 2px;
              margin-bottom: 10px;
              border-bottom: 3px solid #0289bf;
            "
          ></div>
          <p style="width: 80%; font-size: 18px; color: #024249">
            After our clients see what we can do for their income-generating properties, many turn to us when they
            <strong style="font-weight: 600; font-style: italic"
              >buy, build or remodel their own homes.</strong
            >
          </p>
        </div>
      </div>
    </section>
    <div id="pattern"></div>
    <main id="mainProcess">
      <section id="info" style="padding: 0px;">
        <p>
          We employ our same interior design process, but because this is your primary home, many of our clients want much more involvement in curating the style and design plan—which we love!
          <br />
          <br />
          When you design with MaYa Creative Spaces, you can <strong
          style="font-weight: 600; font-style: italic"
          >leverage our relationships</strong> and special pricing with our preferred suppliers to <strong
          style="font-weight: 600; font-style: italic"
          >design your dream home for less.</strong>
        </p>
      </section>
      <section id="difference"> 
        <p style="font-size: 50px; margin: 0px; margin-bottom: 10px; font-family: Presti;">
          Before & After
        </p>
        <div
          style="
            border-top: 1.5px solid #44d6c6;
            width: 15%;
            padding: 2px;
            border-bottom: 3px solid #44d6c6;
          "
        ></div>
      </section>
      <section style="display: flex; justify-content: center;">
        <div class="containerP">
          <div class="caption-container">
            <p id="caption"></p>
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/brown_living_room.webp"
            alt="Brown living room before & after" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/blue_bedroom.webp"
            alt="Blue bedroom before & after"" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/dining_room.webp"
            alt="Dining room before & after"" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/white_living_room.webp"
            alt="White living room before & after"" style="width:100%">
          </div>
          <div class="mySlides">
            <img src="/static/images/beforeAfter/black_and_white_living_room.webp"
            alt="Black and white living room before & after"" style="width:100%">
          </div>
          <a class="prev" rel="noreferrer" onclick="plusSlides(-1)">❮</a>
          <a class="next" rel="noreferrer" onclick="plusSlides(1)">❯</a>
          <div class="row">
            <div class="column cursor" onclick="currentSlide(1)">
            </div>
            <div class="column cursor" onclick="currentSlide(2)">
            </div>
            <div class="column cursor" onclick="currentSlide(3)">
            </div>
            <div class="column cursor" onclick="currentSlide(4)">
            </div>
            <div class="column cursor" onclick="currentSlide(5)">
            </div>    
          </div>
        </div>
      </section>
      <div>
        <p style="font-size: 1.3em;">Click below to view the rest of our work.</p>
        <button id="processBtn" class="cursor" onclick="document.location='gallery'">VIEW FULL GALLERY</button>
      </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>