<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>MaYa Creative Spaces | Testimonials</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <section id="hero">
        <div class="heroImg">
          <img src="/static/images/testimonialHero.jpg"/>
        </div>
        <div id="heroText">
          <div>
            <p style="font-size: 55px; font-weight: 700; font-family: Presti;">
                Testimonials
            </p>
            <div
              style="
                border-top: 1.5px solid #0289bf;
                width: 40%;
                padding: 2px;
                margin-bottom: 10px;
                border-bottom: 3px solid #0289bf;
              "
            ></div>
            <p style="width: 80%; font-size: 18px; color: #024249">
              There’s no better way for you to get an idea of what it’s like to work with Maya Creative Spaces than to <strong style="font-weight: 600; font-style: italic"
              >hear what our current clients have to say.</strong
              >
            </p>
          </div>
        </div>
      </section>
      <div id="pattern"></div>
      <main style="padding: 50px 10%;" id="testimonial">
        <img src="/static/images/qouteStart.png" width="7%"/>
        <section id="info">
            <div class="testimonial">
                <p>Maya was a tremendous help when I needed to outfit my condo from afar.  She not only knew the best deals for my budget-she was meticulous! Highly recommend!
                </p>
                <h4>-Caroline Nasson-Specht</h4>
            </div>
            <div class="testimonial">
                <p>Maya did a great job of helping us choose the right "feel" and provided hassle free service to get everything in place. Highly recommend her!</p>
                <h4>Jim Darcey</h4>
            </div>
            <div class="testimonial">
                <p>Cant say enough good things about Maya.  She's organized, attentive, & loves what she does.  We've worked together on two properties--highly recommend</p>
                <h4>-Vanessa H</h4>
            </div>
            <div class="testimonial">
                <p>Maya addressed all our needs & ideas while rehab & furnishing our condo. she is skilled, professional, respectful. We recommend Maya. </p>
                <h4>-Bernice & Daniel Giala</h4>
            </div>
            <div class="testimonial">
                <p>Maya is incredible. She has a great understanding of space and how to utilize it best with the appropriate furnishings. She will not Disappoint!!! </p>
                <h4>-Carla & Scott Arsenault </h4>
            </div>
        </section>
        <img src="/static/images/qouteEnd.png" width="7%" style="float: right;"/>
      </main>
    <%- include('partials/footer') %>
</body>
</html>