<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://www.mayacreativespaces.com" />
    <meta name="description" content="MaYa Creative Spaces offers unique interior design solutions tailored to your style and space, serving South Florida with creativity and expertise." />
    <meta name="keywords" content="MaYa Creative Spaces, Interior Design, Residential Design, Commercial Interior Design, South Florida, Creative Interior Design Solutions, Personalized Interiors" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="MaYa Creative Spaces" />
    <meta name="author" content="Maya Mihajlovic">
    <meta property="og:title" content="MaYa Creative Spaces" />
    <meta property="og:description" content="A creative and personalized interior design service based in South Florida." />
    <meta property="og:image" content="/static/images/logolarge.webp" />
    <meta property="og:url" content="https://www.mayacreativespaces.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/static/images/logolarge.webp" />
    <meta name="twitter:title" content="MaYa Creative Spaces" />
    <meta name="twitter:description" content="A creative and personalized interior design service based in South Florida." />
    <meta name="twitter:image" content="/static/images/logolarge.webp" />
    <meta name="twitter:image:alt" content="MaYa Creative Spaces Logo" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MaYa Creative Spaces" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <title>MaYa Creative Spaces | Testimonials</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <section id="hero">
        <div class="heroImg">
          <img src="/static/images/testimonialHero.webp" alt="a well lit livingroom that is white with a gray couch, a table in the middle, many paintings on the wall, and a tv"/>
        </div>
        <div id="heroText">
          <div>
            <p style="font-size: 3.5em; font-weight: 700; font-family: Presti;">
                Testimonials
            </p>
            <div
              style="
                border-top: 1.5px solid #0289bf;
                width: 40%;
                padding: 2px;
                margin-bottom: 10px;
                border-bottom: 3px solid #0289bf;
              "
            ></div>
            <p style="width: 80%; font-size: 1.3em; color: #024249">
              There’s no better way for you to get an idea of what it’s like to work with Maya Creative Spaces than to <strong style="font-weight: 600; font-style: italic"
              >hear what our current clients have to say.</strong
              >
            </p>
          </div>
        </div>
      </section>
      <div id="pattern"></div>
      <main style="padding: 50px 10%;" id="testimonial">
        <img src="/static/images/qouteStart.webp" width="7%" alt="just a large image of a qoute sign"/>
        <section id="info">
            <div class="testimonial">
                <p>Maya was a tremendous help when I needed to outfit my condo from afar.  She not only knew the best deals for my budget-she was meticulous! Highly recommend!
                </p>
                <h4>-Caroline Nasson-Specht</h4>
            </div>
            <div class="testimonial">
                <p>Maya did a great job of helping us choose the right "feel" and provided hassle free service to get everything in place. Highly recommend her!</p>
                <h4>Jim Darcey</h4>
            </div>
            <div class="testimonial">
                <p>Cant say enough good things about Maya.  She's organized, attentive, & loves what she does.  We've worked together on two properties--highly recommend</p>
                <h4>-Vanessa H</h4>
            </div>
            <div class="testimonial">
                <p>Maya addressed all our needs & ideas while rehab & furnishing our condo. she is skilled, professional, respectful. We recommend Maya. </p>
                <h4>-Bernice & Daniel Giala</h4>
            </div>
            <div class="testimonial">
                <p>Maya is incredible. She has a great understanding of space and how to utilize it best with the appropriate furnishings. She will not Disappoint!!! </p>
                <h4>-Carla & Scott Arsenault </h4>
            </div>
        </section>
        <img src="/static/images/qouteEnd.webp" width="7%" style="float: right;" alt="just a large image of a qoute sign"/>
      </main>
    <%- include('partials/footer') %>
</body>
</html>