body {
  margin: 0px;
}

/* NAV BAR */

nav {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

nav > * {
  margin: 0px 100px;
}

nav > div {
  margin: 5px 0px;
}

nav > div > a {
  margin: 0px 50px;
  font-size: large;
}

nav > h1 {
  margin: 0px;
}
