* {
  --teal: #44d6c6;
  --forest: #024249;
  --beach: #ede5d8;
  --ocean: #0289bf;
}

body {
  margin: 0px;
  color: white;
  font-family: "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", Arial, sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

/* NAV BAR */

nav {
  background-color: var(--ocean);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav > * {
  margin: 0px;
}

nav > img {
  margin: 0px;
  margin-left: 25px;
}

nav > div {
  margin: 12px 0px;
}

nav > div > a {
  margin: 0px 60px;
  font-size: large;
}

/* HERO */

#hero {
  background-color: var(--beach);
  color: var(--ocean);
  display: flex;
  justify-content: space-between;
  height: 500px;
}

#heroImg {
  padding: 50px;
  overflow: hidden;
}

#heroImg > img {
  width: 800px;
  border-radius: 50%;
  position: relative;
  right: 200px;
  bottom: 150px;
}

#heroText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

#heroText > div {
  display: inline;
  margin-left: 100px;
}

#heroText > div > * {
  margin: 0px;
}

/* INFO */

#info {
  background-color: var(--forest);
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 16px;
  padding: 50px;
}

#info > * {
  margin: 0px;
}

/* THREE STEPS */

#threeSteps {
  text-align: center;
  color: var(--ocean);
  background-color: var(--beach);
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#threeSteps > * {
  margin: 0px;
}

#steps {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.step {
  width: 50%;
}

.step > h1 {
  color: var(--forest);
  font-size: 65px;
  margin: 0px;
}

.step > p {
  color: var(--forest);
}

/* DIFFERENCE */

#difference {
  background-color: var(--forest);
  color: var(--teal);
  padding: 70px 50px;
}

#difference > span {
  color: white;
}

/* FOOTER */

footer {
  background-color: var(--ocean);
  display: flex;
  justify-content: center;
}

footer > * {
  margin: 30px 8vw;
}

#footerLinks {
  display: flex;
  flex-direction: column;
}

#footerLinks > a {
  margin-top: 25px;
  font-size: 17px;
}

#contact > * {
  margin: 0px;
}

@media only screen and (min-width: 1800px) {
  /* NAV BAR */
  nav {
    justify-content: center;
    background-color: red;
  }

  nav > div {
    margin-left: 850px;
  }
}
